{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/base.html' %}
    <title>Detail of The News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/spesific.css' %}"/>
</head>

<body>
    {% include "partial/navbar.html" %}


<div class="container">
    {% for i in listnews%}
    <div class="row">
        <h1 class="headline">{{i.title}}</h1>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col">
            {% for news in listnews %}
            <div class="row tex-left">
                <img class="berita-image" src="{{news.image}}">
                <p>{{news.date}}</p>
            </div>
           
            <div class="row">
                <p class="exp-p">{{news.desc}}</p>
            </div>
            {% endfor %}
        </div>

        <div class="col">
            <div class="row">
                <div class="box-rounded">Total of Donation:
                    Rp9.456.500,00
                </div>
            </div>
           
            <div class="row">
                <h4 class="box-rounded2">Program</h4>
            </div>

            <div class="row">
                <h4 class="box-rounded2">Program</h4>

                <div class="box-rounded2">
                    <h4><strong>Food Distribution</strong></h4>
                    <img src="https://scontent-sin6-1.xx.fbcdn.net/v/t1.0-9/44062989_2417879375105835_7833742373325635584_n.jpg?_nc_cat=109&_nc_eui2=AeE6ZdiDFbclULYCEtksV_pF64HSPphZ_j8nbGjkkkiNYqNS9s_DgiB4R_EACZ1bdF2ra6V63ZevFP4dwygEl8VbUNXHMfBRweyx3Pzr4r3KIA&_nc_ht=scontent-sin6-1.xx&oh=203c998b6c7764597ae85ad50471658f&oe=5C435BAA">
                    <p>- The food delivered by our volunteers to the victim.</p>
                    <p>- Donate to help us delivering more food!</p>
                    <button class="btn-donate", onclick="location.href='../../donasi/formfunction2'">DONATE NOW</button>
                    
                    <div class="text-box">
                        {% for i in donatur %}
                            <p> {{i.TOTAL}} </p>
                            <p> {{i.Name}} </p>
                            <p> {{i.Date}} </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <h4 class="box-rounded2">Program</h4>
            </div>
        </div>
    </div>
</div>

{% include "partial/footer.html" %}
    
</body>
</html>