.section1 {
    background-image: url('../image/humanityheart.jpg');
    min-height: 680px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

.text_section1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #0f0a0a;
}

.section1_rectangle {
    padding-top: 9%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top:125px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}

.box {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #e7e9eb;
}

.box--white {
    background: #fff;
}

.box--shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.words{
    text-indent: 80px;
    font-size:1.5em;
    float:left;
    text-align: justify;
}

#field{
    width: 400px;
    height: 200px;
    margin-top: 4vw;
    margin-bottom: 2vw;
}

.card{
    margin-bottom: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.contain_form{
    
}