/* body{
	background-image: url("https://images.pexels.com/photos/1092364/pexels-photo-1092364.jpeg");
} */

#formsaya{
	margin-top:100px;
}
#donateform h3{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;    
	line-height: normal;
	font-size: 42px;
	text-align: center;
	
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#way{
	margin-top: 160px;
}
.atas{
	padding-left: 10px;
	background-color:whitesmoke;
	color: #000000;
	padding-top: 10px; 
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: 'Noto Serif JP', sans-serif;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 3px solid transparent;
	border-color:#93B7BE;
}

/* #thanks h3{
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: normal;    
	line-height: normal;
	font-size: 42px;
	text-align: center;
	
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.container{
	display: grid;
}
.letter{
	margin-top: 25px;
	padding-left: 10px;
	background-color:whitesmoke;
	color: #000000;
	padding-top: 10px; 
	padding-right: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	font-family: 'Noto Serif JP', sans-serif;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border: 3px solid transparent;
	border-color: #93B7BE;
}
	
.judul{
	left: 30%;
	margin-top:30px;
	text-align: left;
	
	font-family: 'Rubik', sans-serif;
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 60px;
	
	color: #000000;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
	
/* @media (min-width: 768px){
	.navbar-nav{
	float:none;
	margin: 0 auto;
	display: table;
	table-layout: fixed;
	}
} */