.fund-card {
    display: none
}

.fund-card__card {
    display: inline-block;
    margin: 10px;
    width: 200px;
    border: 1px solid #d3d8dc;
    background: #f5f5f5;
    vertical-align: top;
    text-align: center
}

.fund-card__image img {
    width: 100%
}

.fund-card__content {
    margin: 10px
}

.fund-card__title {
    margin: 10px 0;
    font-weight: 700;
    font-size: 15px
}

.fund-card__raised {
    margin-bottom: 7px;
    color: #333;
    font-weight: 700;
    font-size: 18px
}

.fund-card__raised span {
    display: block;
    margin-top: 3px;
    color: #3e3c3c;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px
}

.fund-card__progress {
    position: relative;
    margin-bottom: 15px;
    border: 1px solid #dde1e2;
    background: #fff
}

.fund-card__end,
.fund-card__start {
    position: absolute;
    top: -18px;
    color: #848686;
    font-weight: 200;
    font-size: 12px
}

.fund-card__start {
    left: 0
}

.fund-card__end {
    right: 0
}

.fund-card__percent {
    width: 0%;
    height: 5px;
    background: #333
}

.fund-card__btn {
    display: block;
    padding: 13px 15px;
    border-radius: 5px;
    background: #333;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px
}


/*# sourceMappingURL=fund-card.css.map */