html,
body {
    /* overflow-x: hidden; */
}

p {
    word-break: break-word;
}

.row {
    margin: 0px !important
}

a {
    text-decoration: none !important;
    color: white !important;
}


/* restyle navbar */

nav a img {
    max-height: 40px !important;
    width: auto !important;
}

.navbar {
    max-height: 50px !important;
}

.fixed-top {
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: background-color 200ms ease-out;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    border: 1px solid white;
    color: cyan !important;
    transition: color 500ms ease-out;
}

.fixed-top.scrolled .nav-link:hover {
    border: 1px solid black;
    color: blue !important;
    transition: color 500ms ease-out;
}

.fixed-top.scrolled {
    background-color: #93B7BE !important;
    transition: background-color 200ms ease-out;
}

.fixed-top.scrolled .nav-link {
    color: #ffffff;
}


/* restyle carousel */

.carousel-inner img {
    width: 98.5vw;
    max-height: 100vh;
    min-height: 350px;
}

.my-card img {
    width: 100%;
    height: auto;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.521)
}

#caro {
    margin-bottom: 3vh;
}


/* restyle grid system */

.padBot {
    padding-bottom: 2vh;
}

.padBotMed {
    padding-bottom: 8vh;
}

.padBotLong {
    padding-bottom: 10vh;
}


/* why donate */

.donateTitle {
    padding-left: 30px;
    padding-right: 30px;
    background-color: green;
    color: white;
    font-size: calc(18px + 2vmax);
    font-family: 'roboto condensed';
}


/* why donate desc */

#donate-pic {
    min-width: 200px;
}

#descImage {
    width: 100%;
    min-width: 300px;
    height: auto;
}

.descString {
    min-width: 300px;
    font-size: calc(18px + 1vmax);
    color: white;
    line-height: 2;
    text-align: center;
    font-family: 'yu gothic';
}

#descString {
    min-width: 300px;
    font-size: calc(14px + 0.5vmax);
    line-height: 2;
    text-align: justify;
    font-family: 'yu gothic';
    text-indent: 50px;
}

.f-2 {
    flex: 2;
}

.f-1 {
    flex: 1;
}


/* Recent News */

.recent {
    font-size: calc(18px + 2vmax);
    font-family: 'roboto condensed';
    margin-bottom: 1vmax;
    color: black;
    text-align: center;
}


/* quote */

.quote {
    font-size: calc(20px + 3vmax);
    font-family: 'roboto condensed';
    line-height: 1;
    text-align: center;
    color: white;
}

.subquote {
    font-size: calc(16px + 1.5vmax);
    font-family: 'roboto condensed';
    text-align: center;
    color: white;
}

.quoter {
    font-size: calc(14px + 0.5vmax);
    font-family: 'roboto condensed';
    text-align: right;
    color: white;
}

.quoteContainer {
    width: 100%;
}


/* card for news */

.card-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-carousel .my-card {
    height: 17vmax;
    width: 17vmax;
    position: relative;
    z-index: 1;
    -webkit-transform: scale(0.6) translateY(-2rem);
    transform: scale(0.6) translateY(-2rem);
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    background: #2e5266;
    border: 1px black;
    background: linear-gradient(to top, #2e5266, #6e8898);
    transition: 1s;
}

.card-carousel .my-card:after {
    content: '';
    height: 2px;
    width: 100%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: -5rem;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.card-carousel .my-card:nth-child(0):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(1):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(2):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(3):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(4):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card:nth-child(5):before {
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}

.card-carousel .my-card.active {
    z-index: 3;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-carousel .my-card.prev,
.card-carousel .my-card.next {
    z-index: 2;
    -webkit-transform: scale(1) translateY(0) translateX(0);
    transform: scale(1) translateY(0) translateX(0);
    opacity: 1;
    pointer-events: auto;
    transition: 1s;
}

.card-content p {
    color: white;
}


/* recent donation card */

.wrap {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif
}


/* join utton */

.joinUs {
    font-size: 3vmax;
    height: 6vmax;
    width: 30vmax;
    background-color: green;
    color: white;
}


/* subscribe */

.subscribe {
    font-size: 18px;
    min-width: 300px;
    width: 40vw;
    height: 4vmax;
    min-height: 18px;
    max-width: 500px;
}

.buttoner {
    height: 4vmax;
    min-height: 18px;
    width: 4vmax;
    min-width: 18px;
    background-color: green;
    border: none;
}


/* responsive */

@media screen and (max-width: 480px) {
    .p-5 {
        padding: 1.5rem !important;
    }
    .fund-card__card {
        width: 175px !important;
    }
    .donateTitle {
        font-size: 50px !important;
    }
    .descString {
        padding-bottom: 20px !important;
    }
}

/* fund card */

.fund-card__image {
    height: 150px;
}

.fund-card__btn {
    cursor: pointer;
}


/* parallax effect adapted from materialize.css */

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax-container .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    filter: brightness(70%);
}

.valign-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.section.no-pad-bot {
    padding-bottom: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}

.fullWidth {
    width: 100%;
}

.white {
    color: white;
}


/* customizing footer */

.mt-5,
.customFooter {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

hr {
    width: 80%;
    height: 4px;
}


/* digit scroller */

.__digit_scroller_digit {
    position: relative;
    display: inline-block;
    transform: translateY(0);
    width: .68em;
}

.__digit_scroller_digit._digit_up {
    transform: translateY(-100%);
}

.__digit_scroller_next_digit {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
}

.__digit_scroller_wrap {
    /* display: inline-block; */
    overflow: hidden;
}

/* mod card */
.fund-card__progress,
.fund-card__raised {
    display: none !important;
}

.fund-card__image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* button */
#toJoin {
    cursor: pointer;
}

.dropdown-item {
    color: #212529 !important;
    text-decoration: unset !important;
}