.customNavbar {
    background-color: #93B7BE;
}

.navbar-custom,
.navbar-nav,
.nav-link {
    color: #FCFCFC;
    font-weight: 600;
}

.navbar-custom,
.nav-item:active,
.nav-link,
.navbar-custom,
.nav-item:hover,
.nav-link {
    color: #FCFCFC;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

.navbar-brand1 {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-top: 30px;
}

.flex-footer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #747578;
}

.footer1 p {
    color: #FCFCFC;
    margin-top: 18px;
    padding-left: 140px;
} 

.titleText {
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
}

.bodyText {
    color: #000000;
}

.footerText, p, a, a:hover {
    color: #696969;
}

.navbarText a:hover {
    color: #696969;
}

.navbarText {
    font-weight: bold;
    color: #696969;
}

.container {
    display: flex; /* or inline-flex */
}

.maps {
    display: flex;
    justify-content: center;
}

.customFooter {
    background-color: #93B7BE;
    margin-top: 70px;
}

.maps {
    margin-top: 12px;
}

.img {
    height: 25px;
    width: 25px;
}

.img1 {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}

.img2 {
    height: 25px;
    width: 25px;
    margin-left: 10px;
}
