html, body {
    margin: 0;
    padding: 0;
}

.section1 {
    background-image: url('../image/humanityheart.jpg');
    min-height: 680px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}

#text_section1 {
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    color: #93B7BE !important;
}

/* .h1, h1 {
    font-size: 4.5rem;
} */

.section1_rectangle {
    padding-top: 9%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top:125px;
    margin-left:25%;
    margin-right:25%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .newspage {
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .news {
        width: 320px;
        height: 500px;
        background-color: #ffffff;
        border: #000000;
        border-width: 10px;
        margin-bottom: 45px;
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.newspage {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../image/summit.jpg');
    height: 590px;
    text-align: center;
    text-emphasis-position: center;
    width: 100%;
    margin-bottom: 120px;
}

.newspage h1 {
    color: #000000;
    font-size: 70px;
    font-weight: 300;
    line-height: 91px;
    
}

.newspage h2 {
    color: #000000;
    font-size: 25px;
    font-weight: 300px;
    line-height: 45px;
    margin-left: 70px;
} 

.flex-news {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    flex-wrap: wrap; 
    padding-left: 70px;
    padding-right: 70px;
}

.news {
    width: 320px;
    height: 500px;
    background-color: #ffffff;
    border: #000000;
    border-width: 10px;
    margin-bottom: 45px;
    margin-top: 70px;
}

.news p {
    color: #000000;
    font-size: 17px;
    font-weight: 400;
}

.info {
    width: 320px;
    height: 435px;
    background-color: #D4F5F5;
    margin-bottom: 45px;
}

.info h4 {
    margin-left: 30px;
    margin-top: 30px;
}

.info p {
    font-size: 17px;
    margin-left: 30px;
    margin-right: 30px;
}

.image {
    width: 320px;
    height: 220px;
    margin-bottom: 40px;
} 

.rectangle2 {
    width: 145px; 
    height: 40px; 
    background: #FFBA5C;
    margin-top: 50px; 
    margin-left: 200px;
}

.rectangle2 p {
    text-align: center;
}

.program {
    width: 320px;
    height: 400px;
    background-color: #ffffff;
    border: #000000;
    border-width: 10px;
    margin-top: 70px;
}

.btn {
    margin-left: 205px;
}

#load-btn {
    margin-left: 60px;
}