html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-style: normal;
}

.bg {
    background: black url("/static/image/registerbg.jpg") center center no-repeat;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

th label {
    font-weight: normal;
}

table {
    border-collapse: separate;
    border-spacing: 60px 10px;
}

/* restyle navbar */

nav a img {
    max-height: 40px !important;
    width: auto !important;
}

.navbar {
    max-height: 50px !important;
}

.nav-link,
.navbar-toggler {
    display: none;
}

.fixed-top {
    background-color: rgba(0, 0, 0, 0.1) !important;
    transition: background-color 200ms ease-out;
}

/* set mid container */

.middler {
    background-color: rgba(0, 0, 0, 0.678);
    position: absolute;
    padding: 3vmax 3vmax 3vmax 3vmax;
    width: 80vmax;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.manual {
    padding-bottom: 20px;
}

/* form titles */

.formTitle {
    text-align: center;
    font-size: calc(16px + 1vmax);
    color: white;
}

/* separator */

.separator {
    border-right: 1px solid white;
}

.theButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    width: 40vw;
    max-width: 100px;
    height: 30px;
}

/* google */

.g-signin2 {
    height: calc(100% - calc(16px + 1vmax));
}

.abcRioButton {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.centerize {
    width: 100%;
    height: 100%;
    padding-left: 7vw;
    padding-right: 3vw;
}

/* responsive */

@media screen and (max-width: 800px) {
    div.separator {
        display: none;
    }
    div.middler {
        width: 50vmax;
        padding: 3vmax 3vmax 3vmax 3vmax;
    }
    div#login {
        padding-bottom: 20px;
    }
    div#register {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid white;
    }
    div.or {
        padding-bottom: 20px;
    }
    div.centerize {
        padding-left: 3vw;
    }
    html,
    body {
        padding: 0;
        margin: 0;
        overflow: unset;
    }
    table {
        border-spacing: 10px 0;
    }
}