.headline{
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #363636;
    text-align: left;
}

.berita-image{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.box-rounded{
    margin-top: 100px;
    border-radius: 1rem;
    border: 2px solid black;
    text-align: center;
    font: 3em sans-serif;
    margin-left: 20px;
    margin-bottom: 170px;
    width: 100%;
    height: auto;
}

.exp-p{
    text-align: justify;
    font-size: 18px; 
}

.box-rounded2{
    border-radius: 1rem;
    border: 2px solid black;
    text-align: center;
    font: 30px sans-serif;
    margin-left: 20px;
    margin-top: 5px;
    width: 100%;
    height: auto;
}

.box-rounded2 p{
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
    color: #363636;
    font-family: sans-serif;
    margin-left: 10px;
}

.box-rounded2 img{
	width: 100%;
}

.box-rounded2 h4{
    text-align: center;
    font-size: 26px;
    color: #363636;
    font-family: sans-serif;
    margin-top: 20px;
}

.btn-donate{
    display: inline-block;
    background-color: transparent;
    color: #363636;
    margin: 5px 5px;
    border:solid 2px black;
    font-size: 18px;
}

.text-box{
    border-radius: 1rem;
    border: 2px solid black;
    margin: 10px 10px 10px 10px;
    width: 460px;
    height: 500px;
    overflow: scroll;
}
.text-box p{
    font: 16px sans-serif;
}

hr{
    color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 5px;
    margin-right: 5px;
}