{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% include 'layout/base.html' %}
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}" />
    <script src="{% static 'js/about.js' %}"></script>
    <script src="main.js"></script>
</head>

<body>
    {% include "partial/navbar.html" %}
    <div class="section1">
        <br>
        <div class="section1_rectangle">
            <div class="text_section1"></div>
            <h1 style="color:#93B7BE"><strong>What is Sinar Perak?</strong></h1>
            <h5 style="color:#93B7BE">Sinar Perak is the most POPULAR crowdfunding site in
                Indonesia. We help people to raise fund in an easy way. Here in Sinar Perak, we believe that all
                small acts can make big impacts.</h5>
        </div>
    </div>
    </div>

    <!--#SmallActsBigImpacts-->
    <div class='container'>
        <div class="row">
            <div class="box box--white box--shadow">
                <strong>
                    <h2>#SmallActsBigImpacts</h2>
                </strong>
            </div>
            <p class="words">
                We believe that everyone can make an impact in their life. Thus Sinar Perak came to help them create a
                big impact with a small act by giving donation in Sinar Perak.
                Since October 2018, we facilitated people who want to: <br>
                1. Raising fund by making an online donation page (we called it Program page) for various purposes. <br>
                2. Giving fund everywhere and everytime to ongoing program in Sinar Perak.
            </p>
        </div>
    </div>

    <!--Contribution Fee-->
    <div class='container'>
        <div class="row">
            <div class="box box--white box--shadow">
                <strong>
                    <h2>How Sinar Perak fund its operational?</h2>
                </strong>
            </div>
            <p class="words">
                As a social enterprise Startup, we charge an administration fee as much as 3% of the total donations.
                With this model, we can focus on developing technology and services to continue to facilitate
                fundraising and donation activities in Indonesia.
            </p>
        </div>
    </div>

    <!--Legal-->
    <div class='container'>
        <div class="row">
            <div class="box box--white box--shadow">
                <strong>
                    <h2>Is Sinar Perak legal and licensed?</h2>
                </strong>
            </div>
            <p class="words">
                The Sinar Perak Foundation is registered in the Ministry of Law and Human Rights (Kemenkunham), obtains
                PUB (Money and Goods Collection) permits from the Ministry of Social Affairs (Kemensos) with a
                Ministerial Decree no 478 / HUK-PS / 2017, and audited by the Public Accountant Office.
            </p>
        </div>
    </div>

    <!--Legal-->
    <div class='container'>
        <div class="row">
            <div class="box box--white box--shadow">
                <strong>
                    <h2>What they said about Sinar Perak</h2>
                </strong>
            </div>
            <p class="words">
                We are very delighted to see what people think about us. Their testimony will give us power to do better in the future.
                <br>
                <p id="testi"></p>
            </p>
        </div>
    </div>

    <!--Testimony-->
    <div class='container'>
        <div class="row">
            <div class="box box--white box--shadow">
                <strong>
                    <h2>Good words about Sinar Perak</h2>
                </strong>
            </div>
            <p class="words">
                {% if user.is_authenticated %}
                    <p class="words">Help us to do better. Give your testimony here</p>
                    <div id='contain_form'>
                    <form action="{% url 'about' %}" method="POST" id="field">
                        {% csrf_token %}
                        {% for field in form %}
                            <p>{{ field }}</p>
                        {% endfor %}
                        <input type="submit" value="Submit" id="submit">
                    </form>
                    </div>
                {% else %}
                    <p class="words">Help us to do better. Please login to make a testimony</p>
                {% endif %}
            </p>
            <br>
            <!-- <p class="words">
                <p id="testi"></p>
            </p> -->
        </div>
    </div>

    {% include "partial/footer.html" %}
    {% include "layout/scripts.html" %}
</body>

</html>