{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/base.html' %}
    <title>Programs</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/newsprograms.css' %}"/>
</head>

<body>
    {% include "partial/navbar.html" %}

    <div class="section1">
        <br>
        <div class="section1_rectangle">
            <div id="text_section1"></div>
                <h1 style="color: #93B7BE"><strong>PROGRAMS</strong></h1>
                <h5 style="color: #93B7BE">Let's help our friends out there..</h5>
            </div>
        </div>
    </div>

    <!-- Programs -->
    <div class="flex-news">
        {% for program in listprogram %}
            <div class="program">
                <div>
                    <img src="{{ program.image }}" alt="reboisasi" class="image">
                    <p>                    
                        <strong>{{ program.title }}</strong>
                    </p>
                </div>  
                {% if logged %}
                <br><button type="button", class="btn btn-default", onclick="location.href='../donasi/formfunction2/{{ program.title }}'">Donate Now</button>
                {% else %}
                <br><button type="button", class="btn btn-default", onclick="location.href='../registrasi/regist'">Donate Now</button>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {% include "partial/footer.html" %}
    {% include "layout/scripts.html" %}
    
</body>
</html>