{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/base.html' %}
    <title>Donate Form</title>
    <link rel="stylesheet" href="{% static 'css/donateform2.css' %}">
</head>

<body>
    {% include "partial/navbar.html" %}

    <div class="container downNav" id="donateform">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-6">
                <br><br>
                <div>
                    <form id="formsaya" method="POST" action="">
                        {% csrf_token %}
                        {% for field in listform %}
                            {{ field.label_tag }}
                            {{ field }}
                            <br>
                        {% endfor %}
                        <br><button id="button" class="btn btn2 btn-default">Donate Now</button>
                    </form>
                </div>
                <br><br>
                <div>
                    <h5>List of Donatur:</h5>
                    <p class="atas">
                        {% for i in listdonations %}
                            {{ i.name }}
                            {{ i.nominal }}
                            <br>
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <h3 id='way'>{{ title }}</h3>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

{% include "partial/footer.html" %}
{% include "layout/scripts.html" %}
    
</body>
<script>
    const field_email = document.getElementById("id_email");
    field_email.value = '{{ email_lengkap }}';
</script>
</html>