{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    
    {% include 'layout/base.html' %}
    <title>Thanks for Donating!</title>
    <link rel="stylesheet" href="{% static 'css/donateform2.css' %}">
</head>

<body>
    {% include "partial/navbar.html" %}

    <div class="container downNav" id="thanks">
        <div class="row">
            <div class="col-sm-12">
                <br><br><br><br>
                <h1 class="judul">Thank You!</h1>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-12">
            <p class="letter">Congratulations,<strong> {{ name }} </strong>, you have successfully donate <strong> Rp{{ nominal }},00 </strong> for the <strong> {{ program }} </strong> program.
            <br>Don't stop helping. Additionally, if you are in need of help, do not be afraid to reach out to us. Our website has shown its ability to come together in solidarity and support.
            <br><br><br>Best Regards,<br>Sinar Perak Community</p>
            </div>
        </div>
        <div>
            <button type="button", class="btn btn-link", onclick="location.href='/program/programs'">Back to Programs</button>
        </div>
    </div>

    {% include "partial/footer.html" %}
    {% include "layout/scripts.html" %}
    
</body>
</html>