{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'layout/base.html' %}
    <title>History</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/history.css' %}"/>
    <script src="{% static 'js/history.js' %}"></script>
</head>

<body>
    {% include "partial/navbar.html" %}

    <div class="section1">
        <br>
        <div class="section1_rectangle">
            <div class="text_section1"></div>
                <h1 style="color: #fff"><strong>TOTAL DONATIONS</strong></h1>
                <h5 id="totalnya" style="color: #fff"></h5>
            </div>
        </div>
    </div>

    <!-- Programs -->
    <div class="flex-news">
        <h2 id="bigthanks">We owe you big thanks. See how much you participate in helping other!</h2>
        <br><br><br><br>
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        <table id="tablehistory" class="table table-striped .table-bordered">
            <thead>
              <tr>
                <th scope="col">Program </th>
                <th scope="col">Nominal</th>
              </tr>
            </thead>
            <tbody class="subclass">
            </tbody>
        </table>
        </div>
        <div class="col-sm-3"></div>
    </div>

    {% include "partial/footer.html" %}
    {% include "layout/scripts.html" %}
    
</body>
</html>