{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/base.html' %}

    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/regist.css' %}" />
</head>

<body>
    {% include "partial/navbar.html" %}
    <div class="bg"></div>
    <div class="middler">
        <div class="manual row justify-content-around flex-wrap">
            <div id="login">
                <div class="centerize">
                    <p class="formTitle">Login</p>
                    <div class="g-signin2 justify-content-center align-content-center" data-onsuccess="onSignIn"></div>
                </div>
            </div>
            <div class="separator"> </div>
            <div id="register">
                <form method="POST">
                    <table>
                        <p class="formTitle">Register</p>
                        {% csrf_token %} {{ registForm.as_table }}
                    </table>
                    <br>
                    <button type="submit" value="Submit" class="theButton"> Register </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            var id_token = googleUser.getAuthResponse().id_token;
            $.ajax({
                method: "POST",
                url: "/registrasi/verifyMe",
                headers: {
                    "X-CSRFToken": document.getElementsByName('csrfmiddlewaretoken')[0].value
                },
                data: {
                    token: id_token
                },
                success: function (result) {
                    if (result['status'] == "0") {
                        approved(profile);
                    } else {
                        alert("Error while authenticating you ... w-wait, Who are you ?");
                    }
                }
            })
        };

        function approved(profile) {
            var id = profile.getId();
            var name = profile.getName();
            var givenName = profile.getGivenName();
            var emailUrl = profile.getEmail();
            var avatar = profile.getImageUrl();

            var paramsToSend = {
                'id': id,
                'name': name,
                'givenName': givenName,
                'emailUrl': emailUrl,
                'avatar': avatar,
                'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            }

            var form = document.createElement("form");
            form.setAttribute("method", "POST");
            form.setAttribute("action", "{% url 'toSession' %}");

            for (var key in paramsToSend) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", paramsToSend[key]);
                form.appendChild(hiddenField);
            }
            document.body.appendChild(form);

            form.submit();
        }

        $(document).ready(function () {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        });
    </script>
    {% include 'layout/scripts.html' %}
</body>

</html>