{% load static %}

<!-- Footer -->
<div class="footer customFooter">
    <footer class="page-footer font-small unique-color-dark customFooter">
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">

            <!-- Grid row -->
            <div class="row mt-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <!-- <div class="container">
                <a class="navbar-brand1">
                    <img src="logo.png" alt="Logo" style="width:150px;">
                </a>
            </div> -->
                    <!-- <br><p class="footerText">"Make the world a better place, for you, for me, and the entire human race"<br><br>- Michael Jackson</p> -->

                    <h6 class="text-uppercase font-weight-bold titleText" style="color: #696969;">ABOUT US</h6>
                    <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #696969">
                    <p>Sinar Perak is a website to give donations to help the victims of natural disasters
                        <br><br>#SmallActsBigImpacts
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold titleText" style="color: #696969;">RECENT POSTS</h6>
                    <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 120px; background-color: #696969">
                    <p class="footerText">
                        <a href="#">PROGRAMS</a>
                    </p>
                    <p class="footerText">
                        GALLERY
                    </p>
                    <p class="footerText">
                        VIDEOS
                    </p>
                    <p class="footerText">
                        <a href="#">NEWS</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold titleText" style="color: #696969;">CONTACT US</h6>
                    <hr class="accent-2 mb-2 mt-0 d-inline-block mx-auto" style="width: 105px; background-color: #696969">
                    <p class="footerText">
                        googlefund@gmail.com
                        <br>+62 811 234 5677
                        <br><br><img src="{% static 'image/ig.jpg' %}" alt="instagram" class="img"><img src="{% static 'image/twitter.jpg' %}" alt="twitter" class="img1"><img src="{% static 'image/fb.png' %}" alt="facebook" class="img2">
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 maps">

                    <!-- Map -->
                    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.225966297407!2d106.82695273971761!3d-6.364795413629866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ec19efd057d7%3A0xac569bb299fecc42!2sGedung+A+FASILKOM+UI!5e0!3m2!1sen!2sid!4v1539610263110"
                        width="200" height="200" frameborder="2" style="border:0; margin-left: 10%;" allowfullscreen></iframe>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->
</div>
<div class="flex-footer1">
    <div class="footer1">
        <p>Copyright © 2018 PT. Sinar Perak Indonesia All Rights Reserved</p>
    </div>
</div>