{% load static %}

<!-- Navigation -->
<div class="header">
    <nav class="navbar navbar-expand-sm customNavbar fixed-top" style="background-color: #93B7BE">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'image/logo.png' %}" alt="Logo" style="width:150px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item navbarText">
                    <a class="nav-link" href="{% url 'program' %}">PROGRAM</a>
                </li>
                <li class="nav-item navbarText">
                    <a class="nav-link" href="{% url 'news' %}">NEWS</a>
                </li>
                <li class="nav-item navbarText">
                    <a class="nav-link" href="/about/about">ABOUT</a>
                </li>
                <li class="nav-item navbarText" id="registButton">
                    <a class="nav-link" href="{% url 'registPage' %}">REGISTER</a>
                </li>
            </ul>
        </div>
    </nav>
</div>