{% load static %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
<meta name="google-signin-client_id" content="787579258880-de1h5msk69rtp8rbn6jjhp7hsdd4chb1.apps.googleusercontent.com">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/navfooter.css' %}">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>