{% load static %}

<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>
    // logout function
    function logout() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function() {
            console.log('User signed out.');
        });
        $.ajax({
            url: "{% url 'logout' %}",
            success: function(result) {
                console.log(result);
                if (result['logedOut']) {
                    location.reload();
                }
            }
        })
    }

    function toProfile() {
        window.location.href = "/riwayat/history";
    }
</script>
<script src="{% static 'js/navbar.js' %}"></script>