{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'layout/base.html' %}
    <title>News</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/newsprograms.css' %}" />
</head>

<body>
    {% include "partial/navbar.html" %}
    
    <div class="section1">
        <br>
        <div class="section1_rectangle">
            <div class="text_section1"></div>
                <h1 style="color: #93B7BE"><strong>NEWS</strong></h1>
                <h5 style="color: #93B7BE">This is what happen around you, and they need your help..</h5>
            </div>
        </div>
    </div>
    </div>

    <!-- News -->
    <div class="flex-news">
        {% for news in listnews %}
        <div class="news">
            <img src="{{ news.image }}" alt="gempa_palu" class="image">
            <p>
                {{ news.date }}
                <br><br><strong>{{ news.title }}</strong>
                <br>{{ news.desc }}
            </p>
            <a href="../../beritaLengkap/{{news.title}}" class="btn btn-link btn-lg active" role="button" aria-pressed="true">read more</a>
        </div>
        {% endfor %}
    </div>

    {% include "partial/footer.html" %}
    {% include "layout/scripts.html" %}

</body>

</html>