{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% include 'layout/base.html' %}
    <title>Sinar Perak - Welcome</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fund-card.css' %}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jquery.fund-card.js' %}"></script>
</head>

<body>
    {% include "partial/navbar.html" %}
    <div class="row padBot">
        <div id="caro" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#caro" data-slide-to="0" class="active"></li>
                {% for i in toCarousel %}
                <li data-target="#caro" data-slide-to="{{ forloop.counter0 }} "></li>
                {% endfor %}
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'image/SinarPerakCaro.jpg' %}" alt="img1">
                    <div class="carousel-caption animateMePlzNoThres">
                        <a href="/about/about">
                            <h3> About Sinar Perak </h3>
                        </a>
                    </div>
                </div>
                {% for carouselItem in toCarousel %}
                <div class="carousel-item ">
                    <img src="{{ carouselItem.image }}" alt="img2">
                    <div class="carousel-caption animateMePlzNoThres">
                        <a href="/beritaLengkap/{{printedNews.title}}">
                            <h3> {{ carouselItem.title }} </h3>
                        </a>
                        <p> {{ carouselItem.desc }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#caro" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#caro" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="row justify-content-center padBot animateMePlz">
        <p class="donateTitle"> Why Donate ? </p>
    </div>

    <div class="row pb-3">
        <div class="d-flex flex-row w-100 flex-wrap-reverse align-items-center h-75 justify-content-around">
            <div class="f-2 d-flex justify-content-center align-items-center p-5 animateMePlz" id="descString">
                {{ description }}
            </div>
            <div class="f-1 d-flex justify-content-center align-items-center p-5 animateMePlz" id="donate-pic">
                <img src="/static/image/4.jpg" id="descImage">
            </div>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center pb-3 pt-3 animateMePlz">
        <p class="recent animateMePlz"> RECENT NEWS </p>
    </div>

    <div class="row justify-content-center pb-5 animateMePlz">
        <div class="card-carousel">
            {% for printedNews in recentNewsPassed %}
            <div class="my-card">
                <img src="{{ printedNews.image }}" alt="Avatar">
                <div class="card-content p-2">
                    <a href="/beritaLengkap/{{printedNews.title}}">
                        <p>{{ printedNews.desc }}</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="row justify-content-center parallax-container valign-wrapper padBot">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row justify-content-center">
                    <p class="fullWidth quote animateMePlzBlank">{{ quote1 }}<br></p>
                    <p class="fullWidth subquote animateMePlzBlank">{{ quote2 }}<br></p>
                    <p class="fullWidth quoter animateMePlzBlank">{{ quotator }}</p>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'image/background1.jpg' %}">
        </div>
    </div>

    <div class="row justify-content-center pt-5 animateMePlz">
        <p class="recent"> RECENT DONATION NEEDED </p>
    </div>

    <div class="row justify-content-center pb-5 animateMePlz">
        <div class="wrap">
            {% for entry in recentProgramPassed %}
            <div class="fund-card" data-image="{{ entry.image }}" data-title="{{ entry.title }}" data-color="#3498db"
                data-button="Donate Now" data-link="/donasi/formfunction2/{{ entry.title }}"></div>
            {% endfor %}
        </div>
    </div>

    <div class="row justify-content-center parallax-container valign-wrapper">
        <div class="section no-pad-bot fullWidth">
            <div class="justify-content-center">
                <!-- <div class="row p-3">
                    <p class="col descString animateMePlzBlank"> <span id="love">{{ lovers }}</span>
                        <br> Amount of Love Given</p>
                    <p class="col descString animateMePlzBlank"> <span id="helpneed">{{ helpneed }}</span>
                        <br> Friends Need Your Help</p>
                </div> -->
                <div class="row justify-content-center animateMePlzBlank">
                    <p class="recent col white"> Be One With <span id="helper">{{ helper }}</span> Good People </p>
                    <div class="w-100"></div>
                    <button id="toJoin" class="joinUs animateMePlzPulse" onclick="location.href='registrasi/regist/' ">
                        Join Us </button>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="{% static 'image/background3.jpg' %}">
        </div>
    </div>
    {% include "partial/footer.html" %}

    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'js/jquery.digitScroller.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/materialize.js' %} "></script>
    <script src="{% static 'js/animateMePlz.jQuery.min.js' %} "></script>
    <script src="{% static 'js/main.js' %} "></script>
    {% include 'layout/scripts.html' %}

</body>

</html>